* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h4 {
    font-family: "Space Grotesk", sans-serif;
    color:#F5F1FF;
    text-align: center;
    margin: 0 50rem 0 0;
}

body {
    background-color:#2A2F6B; /*#10162F*/
    font-family: "Inter", sans-serif;
  }

.nearwhite{
    color:#F5F1FF
}

li.gallery {
  width: 299px;
  list-style: none;
  text-align: center;
  background-color:#F5F1FF;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0.8;
  width: 299px;
  background-color: #10162F;
  text-align: center;
  margin-top: -168px;
}

img.normal {
  width: 299px;
  height: 168px;
}

.gallery a:hover .tooltiptext { /*je ne comprenais pas pourquoi simplement .tooltiptext:hover ne suffisait pas, en demandant à l'IA, 
  j'ai compris qu'un hover ne détectait pas un objet en visibility hidden. J'ai donc opté pour la solution proposée.*/
  transition: visibility 0.3s;
  visibility: visible;}

/*
h1 {
    font-family: "Space Grotesk";
}
    em unité pour s'adapter à la taille de l'écran
    Hover + box-shadow: 10px 10px 5px grey; pour faire une ombre
    Transition: 0.3s; pour faire une transition douce
*/

ul.gallery {
  display: flex; /*Permet d'utiliser les parents pour gérer les enfants*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu {
    display: flex;                /* Transformation en flexbox */
    margin: 0 50rem 0 0;
    padding:0;                    /* Suppression des marges internes */
    background-color: #10162F;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}

.menuinvisible {
    display: flex;                /* Transformation en flexbox */
    margin: 0 0 0 50rem;
    padding:0;                    /* Suppression des marges internes */
    background-color: #10162F;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
    

}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:inline-block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #2A2F6B;    /* Arrière-plan */
    color: #F5F1FF;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #F5F1FF;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}