* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h4 {
    font-family: "Space Grotesk", sans-serif;
    color:#F5F1FF;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color:#2A2F6B; /*#10162F*/
    font-family: "Inter", sans-serif;
  }

.nearwhite{
    color:#F5F1FF
}

li.gallery {
  width: 20rem;
  min-height: 21rem;
  list-style: none;
  text-align: center;
  background-color: #2A2F6B;
}

.tooltiptext {
  visibility: hidden;
  text-decoration: none;
  opacity: 0.8;
  width: 20rem;
  background-color: #10162F;
  color: #F5F1FF;
  text-align: center;
  margin-top: -20rem;
  max-height: 20rem;
  overflow: auto;
}

/*.tooltipcategorie {
  visibility: hidden;
  opacity: 0.8; 
  background-color: #10162F;
}*/


img.normal {
  width: 20rem;
  height: 20rem;
}

.gallery li:hover .tooltiptext { /*je ne comprenais pas pourquoi simplement .tooltiptext:hover ne suffisait pas, en demandant à l'IA, 
  j'ai compris qu'un hover ne détectait pas un objet en visibility hidden. J'ai donc opté pour la solution proposée.*/
  visibility: visible;}

.menu a:hover{
  background-color: #10162F;
  color:#F5F1FF
  
}
.menu a:active{
  background-color: #F5F1FF;
  color:#10162F;
  visibility: visible;
}
/*
h1 {
    font-family: "Space Grotesk";
}
    em unité pour s'adapter à la taille de l'écran
    Hover + box-shadow: 10px 10px 5px grey; pour faire une ombre
    Transition: 0.3s; pour faire une transition douce
*/

ul.gallery {
  display: flex; /*Permet d'utiliser les parents pour gérer les enfants*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; /*Permet de gérer les espaces entre les éléments*/
}

.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    margin: 1rem 0;
    background-color: #10162F;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-evenly;/* Alignements des liens dans le menu */                 /* Centrage du contenu */
    min-height: 5rem;
}
    
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu li.invisible{
    list-style-type: none ;       /* Suppression des puces */
    visibility: hidden;          /* Rendre les éléments invisibles */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 20rem;             /* Largeur minimale des liens */    
    margin: 1rem 0;  
    padding: 2rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #2A2F6B;    /* Arrière-plan */
    color: #F5F1FF;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #F5F1FF;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}